{% extends "base.html" %}

{% block content %}

<div class="article">
    <h2>
        Articulo {{ article.name }}
        <span>
            en <a href="{% url 'category' article.category.id %}">
                        {{ article.category.name }}
                </a>
        </span>
    </h2>

    <div class="button-bar">
        <a href="{% url 'item_add' article.id %}" class="button">Adicionar Item</a>
        <a href="{% url 'article_remove' article.id %}" class="button"
            onclick="return confirm('¿Esta seguro de querer eliminar {{ article.name }}?')">
            Eliminar
        </a>
        <a href="{% url 'article_edit' article.id %}" class="button">Editar</a>
        <a href="{% url 'catalog' %}">Volver</a>
    </div>

    <table class="form">
        <tbody>
            <tr>
                <td>
                    <label>
                        <span>Nombre</span>
                        <input type="text" name="article_name"
                            value="{{ article.name }}" disabled>
                    </label>
                </td>
                <td>
                    <label>
                        <span>Descripcion</span>
                        <input type="text" name="article_description"
                            value="{{ article.description }}" disabled>
                    </label>
                </td>
            </tr>
            <tr>
                <td>
                    <label>
                        <span>Categoria</span>
                        <input type="text" name="article_category"
                            value="{{ article.category }}" disabled>
                    </label>
                </td>
                <td>
                    <label>
                        <span>Numero de items</span>
                        <input type="text" name="article"
                            value="{{ article.item_set.count }}" disabled>
                    </label>
                </td>
            </tr>
        </tbody>
    </table>

    <h3>Items</h3>

    {% if article.item_set.all %}

    <table>
        <thead>
            <tr>
                <td>Accion</td>
                <td>Nombre</td>
                <td>Descripcion</td>
                <td>Estado</td>
                <td>Condicion</td>
            </tr>
        </thead>
        <tbody>
            {% for item in article.item_set.all %}
            <tr>
                <td>
                    <span>
                        <a href="{% url 'item' item.id %}" class="link-button">
                            Ver
                        </a>
                    </span>
                </td>
                <td>
                    <span>
                        {{ item.name }}
                    </span>
                </td>
                <td>
                    <span>
                        {{ item.description }}
                    </span>
                </td>
                <td>
                    <span>
                        {{ item.get_state }}
                    </span>
                </td>
                <td>
                    <span>
                        {{ item.get_condition }}
                    </span>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    {% else %}
        <p>No hay items disponibles.</p>
    {% endif %}

</div>


{% endblock %}

