{% extends "base.html" %}

{% block left_panel %}
{% if categories %}
<div id="left-panel" class="left-panel">
    <h3>Categorias</h3>
    <ul class="level1">
        {% for category in categories %}
            {% if category.main_category == None %}
            <li>
                <a href="{% url 'category' category.id %}">{{ category.name }}</a>
                <ul  class="level2">
                {% for category2 in category.category_set.all %}
                    <li>
                        <a href="{% url 'category' category2.id %}">{{ category2.name }}</a>
                        <ul  class="level3">
                        {% for category3 in category2.category_set.all %}
                            <li>
                                <a href="{% url 'category' category3.id %}">{{ category3.name }}</a>
                            </li>
                        {% endfor %}
                        </ul>
                    </li>
                {% endfor %}
                </ul>
            </li>
            {% endif %}
        {% endfor %}
    </ul>
</div>
{% endif %}
{% endblock %}


{% block content %}

{% endblock %}
