{% extends "base.html" %}

{% block content %}

<div class="article">
    <h2>
        Category {{ category.name }}
        {% if category.main_category %}
        <span>
            from <a href="{% url 'category' category.main_category.id %}">
                        {{ category.main_category.name }}
                </a>
        </span>
        {% endif %}
    </h2>


    <div class="button-bar">
        <a href="{% url 'category_subcategory_add' category.id %}" class="button">Add Subcategory</a>
        <a href="{% url 'category_article_add' category.id %}" class="button">Add Article</a>
        <a href="{% url 'category_remove' category.id %}" class="button"
            onclick="return confirm('Are you sure to delete {{ category.name }}')">
            Remove
        </a>
        <a href="{% url 'category_edit' category.id %}" class="button">Edit</a>
        <a href="{% url 'category_index' %}">Back</a>
    </div>

    <table class="form">
        <tbody>
            <tr>
                <td>
                    <label>
                        <span>Name</span>
                        <input type="text" name="category_name"
                            value="{{ category.name }}" disabled>
                    </label>
                </td>
                <td>
                    <label>
                        <span>Description</span>
                        <input type="text" name="category_description"
                            value="{{ category.description }}" disabled>
                    </label>
                </td>
            </tr>
            <tr>
                <td>
                    <label>
                        <span>Category Father</span>
                        <input type="text" name="category_category"
                            value="{{ category.main_category|default:'' }}" disabled>
                    </label>
                </td>
                <td>
                    <label>
                        <span>Articles</span>
                        <input type="text" name="category_article"
                            value="{{ category.article_set.count }}" disabled>
                    </label>
                </td>
            </tr>
        </tbody>
    </table>

    <h3>Subcategories</h3>
    {% if subcategories %}
    <table>
        <thead>
            <tr>
                <td>Actions</td>
                <td>Name</td>
                <td>Description</td>
                <td>Main Category</td>
                <td>Articles</td>
            </tr>
        </thead>
        <tbody>
            {% for c in subcategories %}
            <tr>
                <td>
                    <span>
                        <a href="{% url 'category' c.id %}" class="link-button">
                            View
                        </a>
                    </span>
                </td>
                <td>
                    <span>
                        {{ c.name }}
                    </span>
                </td>
                <td>
                    <span>
                        {{ c.description }}
                    </span>
                </td>
                <td>
                    <span>
                        {{ c.main_category|default:'' }}
                    </span>
                </td>
                <td>
                    <span>
                        {{ c.article_set.count }}
                    </span>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    {% else %}
        <p>No subcategories availables.</p>
    {% endif %}




    <h3>Articles</h3>
    {% if category.article_set.all %}
    <table>
        <thead>
            <tr>
                <td>Actions</td>
                <td>Name</td>
                <td>Description</td>
                <td>Items</td>
                <td>Items Availables</td>
            </tr>
        </thead>
        <tbody>
            {% for article in category.article_set.all %}
            <tr>
                <td>
                    <span>
                        <a href="{% url 'article' article.id %}" class="link-button">
                            View
                        </a>
                    </span>
                </td>
                <td>
                    <span>
                        {{ article.name }}
                    </span>
                </td>
                <td>
                    <span>
                        {{ article.item_set.count }}
                    </span>
                </td>
                <td>
                    <span>
                        {{ article.item_set.count }}
                    </span>
                </td>
                <td>
                    <span>
                        {{ article.item_set.count }}
                    </span>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    {% else %}
        <p>No articles availables.</p>
    {% endif %}

</div>


{% endblock %}

