{% extends "base.html" %}

{% block content %}

<div class="article">

    <form action="{% url 'category_save' category.id|default:0 %}" method="post" autocomplete="off">
        {% csrf_token %}

        {% if category.id %}
            <h2>Category {{ category.name }}</h2>
        {% else %}
            <h2>New Category</h2>
        {% endif %}


        <div class="button-bar">
            <input type="submit" class="button" value="Save">
            {% if category.id %}
                <a href="{% url 'category' category.id %}">Back</a>
            {% else %}
                <a href="{% url 'category_index' %}">Back</a>
            {% endif %}
        </div>

        <table class="form">
            <tbody>
                <tr>
                    <td>
                        <label>
                            <span>Name *</span>
                            <input type="text" name="name" value="{{ category.name|default:'' }}" >
                        </label>
                    </td>
                    <td>
                        <label>
                            <span>Description</span>
                            <input type="text" name="description" value="{{ category.description|default:'' }}" >
                        </label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>
                            <span>Main Category</span>
                            <select name="main_category">
                                <option value='0'></option>
                                {% for c in categories %}
                                    {% if category.id.null or category.id != c.id %}
                                        {% if category.main_category and category.main_category.id == c.id %}
                                            <option value="{{ c.id }}" selected>{{ c }}</option>
                                        {% else %}
                                            <option value="{{ c.id }}">{{ c }}</option>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </label>
                    </td>
                    <td>
                    </td>
                </tr>
            </tbody>
        </table>
    </form>

</div>


{% endblock %}

