{% extends "base.html" %}

{% block content %}

<div class="article">
    <h2>Catalogo de articulos</h2>

    <div class="button-bar">
        <a href="{% url 'article_add' %}" class="button">Add Article</a>
        <a href="{% url 'category_index' %}">View Categories</a>
    </div>

    {% if articles %}
    <table>
        <thead>
            <tr>
                <td>Acciones</td>
                <td>Categoria</td>
                <td>Articulo</td>
                <td>Numero de items</td>
            </tr>
        </thead>
        <tbody>
            {% for article in articles %}
            <tr>
                <td>
                    <span>
                        <a href="{% url 'article' article.id %}" class="link-button">
                            Ver
                        </a>
                    </span>
                </td>
                <td>
                    <span>
                        {{ article.category.name }}
                    </span>
                </td>
                <td>
                    <span>
                        {{ article.name }}
                    </span>
                </td>
                <td>
                    <span>
                        {{ article.item_set.count }}
                    </span>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    {% else %}
        <p>No hay articulos disponibles.</p>
    {% endif %}

</div>

{% endblock %}


