{% extends "base.html" %}

{% block content %}

<div class="article">

    <form action="{% url 'item_save' item.id|default:0 %}" method="post" autocomplete="off">
        {% csrf_token %}

        {% if item.id %}
            <h2>Item {{ item.name }}</h2>
        {% else %}
            <h2>Nuevo item</h2>
        {% endif %}


        <div class="button-bar">
            <input type="submit" class="button" value="Guardar">
            {% if item.id %}
                <a href="{% url 'item' item.id %}">Volver</a>
            {% else %}
                <a href="{% url 'catalog' %}">Volver</a>
            {% endif %}
        </div>

        <table class="form">
            <tbody>
                <tr>
                    <td>
                        <label>
                            <span>Articulo *</span>
                            <select name="article" {% if item.id %} disabled {% endif %}>
                                {% for article in articles %}
                                    {% if item.article and item.article.id == article.id %}
                                        <option value="{{ article.id }}" selected>{{ article }}</option>
                                    {% else %}
                                        <option value="{{ article.id }}">{{ article }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </label>
                    </td>
                    <td>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>
                            <span>Nombre *</span>
                            <input type="text" name="name" value="{{ item.name|default:'' }}" >
                        </label>
                    </td>
                    <td>
                        <label>
                            <span>Descripcion</span>
                            <input type="text" name="description" value="{{ item.description|default:'' }}" >
                        </label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>
                            <span>Condicion *</span>
                            <select name="condition">
                                {% for c in CONDITION_CHOICES %}
                                    {% if item.condition and item.condition == c.0 %}
                                        <option value="{{ c.0 }}" selected>{{ c.1 }}</option>
                                    {% else %}
                                        <option value="{{ c.0 }}">{{ c.1 }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </label>
                    </td>
                    <td>
                        <label>
                            <span>Estado *</span>
                            <select name="state" disabled>
                                {% for s in STATE_CHOICES %}
                                    {% if item.state and item.state == s.0 %}
                                        <option value="{{ s.0 }}" selected>{{ s.1 }}</option>
                                    {% else %}
                                        <option value="{{ s.0 }}">{{ s.1 }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </label>
                    </td>
                </tr>
            </tbody>
        </table>
    </form>

</div>


{% endblock %}

