<!DOCTYPE html>
<html lang="en">
    <head>
        {% load staticfiles %}
        <link rel="stylesheet" href="{% static 'css/reset.css' %}" />
        <link rel="stylesheet" href="{% static 'css/main.css' %}" />
        <link rel="stylesheet" href="{% static 'css/catalog.css' %}" />
        <script type="text/javascript" src="{% static 'js/tinymce/tinymce.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/tiny_mce.js' %}"></script>

        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

        <title>{% block title %}Our Web Catalog{% endblock %}</title>
    </head>

    <body>
        <div id="header">
            <header id="site-header">
                <div id="sidebar" class="wrapper">
                    <div class="sidebar-inner">
                        <nav>
                            {% block sidebar %}
                            <ul class="main-menu">
                                <li class="logo">
                                    <a href="/">Home</a>
                                </li>
                                <li class="menu-right logout" style="display:none">
                                    <a href="/logout">Logout</a>
                                </li>
                                <li class="menu-right user" style="display:none">
                                    <a href="/user">User</a>
                                </li>
                                <li class="menu catalog">
                                    <a href="/catalog/">Catalogo</a>
                                </li>
                                <li class="menu loans">
                                    <a href="/loans/">Prestamos</a>
                                </li>
                                <li class="menu people">
                                    <a href="/loans/people/">Personas</a>
                                </li>
                            </ul>
                            {% endblock %}
                        </nav>
                    </div>
                </div>
            </header>
        </div>

        <div id="main">
            <div class="wrapper">
                <div id="content">

                    {% if info_message %}
                        <div class="info_message">
                            <span>{{ info_message }}</span>
                        </div>
                    {% endif %}
                    {% if success_message %}
                        <div class="success_message">
                            <span>{{ success_message }}</span>
                        </div>
                    {% endif %}
                    {% if warn_message %}
                        <div class="warn_message">
                            <span>{{ warn_message }}</span>
                        </div>
                    {% endif %}
                    {% if error_message %}
                        <div class="error_message">
                            <ul>
                                {% for message in error_message %}
                                    <li>{{ message }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}

                    {% block left_panel %}
                    {% endblock %}
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>
        <div id="footer">
            <footer id="site-footer">
                {% block footer %}
                {% endblock %}
            </footer>
        </div>
    </body>
</html>
