<!DOCTYPE html>
<html lang="en">
    <head>
        {% load staticfiles %}
        <link rel="stylesheet" href="{% static "css/reset.css" %}" />
        <link rel="stylesheet" href="{% static "css/main.css" %}" />
        <link rel="stylesheet" href="{% static "css/loans.css" %}" />
        <title>{% block title %}Our Web Catalog{% endblock %}</title>
    </head>

    <body>
        <div id="header">
            <header id="site-header">
                <div id="sidebar" class="wrapper">
                    <div class="sidebar-inner">
                        <nav>
                            {% block sidebar %}
                            <ul class="main-menu">
                                <li class="logo">
                                    <a href="/">Home</a>
                                </li>
                                <li class="menu-right logout">
                                    <a href="/logout">Logout</a>
                                </li>
                                <li class="menu-right user">
                                    <a href="/user">User</a>
                                </li>
                                <li class="menu loans">
                                    <a href="/loans/">Catalog</a>
                                </li>
                                <li class="menu admin">
                                    <a href="/admin/">Admin</a>
                                </li>
                            </ul>
                            {% endblock %}
                        </nav>
                    </div>
                </div>
            </header>
        </div>

        <div id="main">
            <div class="wrapper">
                <div id="content">

                    {% if info_message %}
                        <div class="info_message">
                            <span>{{ info_message }}</span>
                        </div>
                    {% endif %}
                    {% if success_message %}
                        <div class="success_message">
                            <span>{{ success_message }}</span>
                        </div>
                    {% endif %}
                    {% if warn_message %}
                        <div class="warn_message">
                            <span>{{ warn_message }}</span>
                        </div>
                    {% endif %}
                    {% if error_message %}
                        <div class="error_message">
                            <span>{{ error_message }}</span>
                            {% if error_fields %}
                            <ul>
                                {% for f in error_fields %}
                                    <li>{{ f }}</li>
                                {% endfor %}
                            </ul>
                            {% endif %}
                        </div>
                    {% endif %}

                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>
        <div id="footer">
            <footer id="site-footer">
                {% block footer %}
                {% endblock %}
            </footer>
        </div>
    </body>
</html>
