{% extends "base.html" %}

{% block content %}

<div class="article">
    <h2>
        Dependencia {{ dependency.name }}
    </h2>

    <div class="button-bar">
        <a href="{% url 'dependency_people_add' dependency.id %}" class="button">Adicionar Persona</a>
        <a href="{% url 'dependency_remove' dependency.id %}" class="button"
            onclick="return confirm('¿Esta seguro de querer eliminar la dependencia {{ dependency.name }}?')">
            Eliminar
        </a>
        <a href="{% url 'dependency_edit' dependency.id %}" class="button">Editar</a>
        <a href="{% url 'dependency_index' %}">Volver</a>
    </div>

    <table class="form">
        <tbody>
            <tr>
                <td>
                    <label>
                        <span>Nombre</span>
                        <input type="text" name="dependency_name"
                            value="{{ dependency.name }}" disabled>
                    </label>
                </td>
                <td>
                    <label>
                        <span>Descripcion</span>
                        <input type="text" name="dependency_description"
                            value="{{ dependency.description }}" disabled>
                    </label>
                </td>
            </tr>
        </tbody>
    </table>

    <h3>Personas de la dependencia</h3>
    {% if dependency.people_set.all %}
    <table>
        <thead>
            <tr>
                <td>Acciones</td>
                <td>Nombre</td>
                <td>Correo</td>
                <td>Activo</td>
                <td>Prestamos</td>
            </tr>
        </thead>
        <tbody>
            {% for people in dependency.people_set.all %}
            <tr>
                <td>
                    <span>
                        <a href="{% url 'people' people.id %}" class="link-button">
                            Ver
                        </a>
                    </span>
                </td>
                <td>
                    <span>
                        {{ people.get_full_name }}
                    </span>
                </td>
                <td>
                    <span>
                        {{ people.email }}
                    </span>
                </td>
                <td>
                    <span>
                        {{ people.loan_set.count }}
                    </span>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    {% else %}
        <p>No hay personas disponibles.</p>
    {% endif %}

</div>

{% endblock %}

