{% extends "base_people.html" %}

{% block content %}

<div class="article">
    <h2>Dependencias</h2>

    <div class="button-bar">
        <a href="{% url 'dependency_add' %}" class="button">Adicionar dependencias</a>
        <a href="{% url 'people_index' %}">Ver personas</a>
    </div>

    {% if dependencies %}
    <table>
        <thead>
            <tr>
                <td>Acciones</td>
                <td>Nombre</td>
                <td>Descripcion</td>
                <td>Personas</td>
            </tr>
        </thead>
        <tbody>
            {% for dependency in dependencies %}
            <tr>
                <td>
                    <span>
                        <a href="{% url 'dependency' dependency.id %}" class="link-button">
                            Ver
                        </a>
                    </span>
                </td>
                <td>
                    <span>
                        {{ dependency.name }}
                    </span>
                </td>
                <td>
                    <span>
                        {{ dependency.description }}
                    </span>
                </td>
                <td>
                    <span>
                        {{ dependency.people_set.count }}
                    </span>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    {% else %}
        <p>No hay dependencias disponibles.</p>
    {% endif %}

</div>

{% endblock %}


