{% extends "base_people.html" %}

{% block content %}

<div class="article">

    <form action="{% url 'dependency_save' dependency.id|default:0 %}" method="post" autocomplete="off">
        {% csrf_token %}

        {% if dependency.id %}
            <h2>Depdendencia {{ dependency.name }}</h2>
        {% else %}
            <h2>Nueva dependencia</h2>
        {% endif %}


        <div class="button-bar">
            <input type="submit" class="button" value="Guardar">
            {% if dependency.id %}
                <a href="{% url 'dependency' dependency.id %}">Volver</a>
            {% else %}
                <a href="{% url 'dependency_index' %}">Volver</a>
            {% endif %}
        </div>

        <table class="form">
            <tbody>
                <tr>
                    <td>
                        <label>
                            <span>Nombre *</span>
                            <input type="text" name="name" value="{{ dependency.name|default:'' }}" >
                        </label>
                    </td>
                    <td>
                        <label>
                            <span>Descripcion</span>
                            <input type="text" name="description" value="{{ dependency.description|default:'' }}" >
                        </label>
                    </td>
                </tr>
            </tbody>
        </table>
    </form>

</div>


{% endblock %}

