{% extends "base.html" %}

{% block content %}

<div class="article">
    <h2>Dependency</h2>

    <div class="button-bar">
        <a href="{% url 'dependency_add' %}" class="button">Add Dependency</a>
        <a href="{% url 'people_index' %}">View People</a>
    </div>

    {% if dependencies %}
    <table>
        <thead>
            <tr>
                <td>Actions</td>
                <td>Name</td>
                <td>Description</td>
                <td>Users</td>
            </tr>
        </thead>
        <tbody>
            {% for dependency in dependencies %}
            <tr>
                <td>
                    <span>
                        <a href="{% url 'dependency' dependency.id %}" class="link-button">
                            View
                        </a>
                    </span>
                </td>
                <td>
                    <span>
                        {{ dependency.name }}
                    </span>
                </td>
                <td>
                    <span>
                        {{ dependency.description }}
                    </span>
                </td>
                <td>
                    <span>
                        {{ dependency.people_set.count }}
                    </span>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    {% else %}
        <p>No dependencies availables.</p>
    {% endif %}

</div>

{% endblock %}


