{% extends "base_loans.html" %}

{% block content %}

<div class="article">
    <h2>
        Items en prestamo
    </h2>

    {% if loans_on_loan %}

    <table>
        <thead>
            <tr>
                <td>Acciones</td>
                <td>Item</td>
                <td>Prestado a</td>
                <td>Fecha de inicio</td>
                <td>Fecha estimada de entrega</td>
            </tr>
        </thead>
        <tbody>
            {% for loan in loans_on_loan %}
            <tr>
                <td>
                    <span>
                        <a href="{% url 'loan' loan.id %}" class="link-button">
                            Ver
                        </a>
                        <a href="{% url 'loan_return' loan.id %}" class="link-button">
                            Devolver
                        </a>
                    </span>
                </td>
                <td>
                    <span>
                        {{ loan.item.name }}
                    </span>
                </td>
                <td>
                    <span>
                        {{ loan.people.get_full_name }}
                    </span>
                </td>
                <td>
                    <span>
                        {{ loan.start_date }}
                    </span>
                </td>
                <td>
                    <span>
                        {{ loan.estimated_end_date }}
                    </span>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    {% else %}
        <p>No hay items en prestamo disponibles.</p>
    {% endif %}

</div>


{% endblock %}

