{% extends "base.html" %}

{% block content %}

<div class="article">
    <h2>
        Items devueltos
    </h2>

    <div class="button-bar">
        <a href="{% url 'item_on_loan' %}">Ver items en prestamo</a>
        <a href="{% url 'item_availables' %}">Ver items disponibles</a>
    </div>

    {% if returned_loans %}

    <table>
        <thead>
            <tr>
                <td>Acciones</td>
                <td>Item</td>
                <td>Prestado a</td>
                <td>Fecha de inicio</td>
                <td>Fecha de devolucion</td>
            </tr>
        </thead>
        <tbody>
            {% for loan in returned_loans %}
            <tr>
                <td>
                    <span>
                        <a href="{% url 'loan' loan.id %}" class="link-button">
                            Ver
                        </a>
                    </span>
                </td>
                <td>
                    <span>
                        {{ loan.item.name }}
                    </span>
                </td>
                <td>
                    <span>
                        {{ loan.people.get_full_name }}
                    </span>
                </td>
                <td>
                    <span>
                        {{ loan.start_date }}
                    </span>
                </td>
                <td>
                    <span>
                        {{ loan.end_date }}
                    </span>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    {% else %}
        <p>No hay items retornados disponibles.</p>
    {% endif %}

</div>


{% endblock %}

