{% extends "base_loans.html" %}

{% block content %}

<div class="article">
    <h2>
        Items disponibles
    </h2>

    {% if items_availables %}

    <table>
        <thead>
            <tr>
                <td>Acciones</td>
                <td>Item</td>
                <td>Articulo</td>
                <td>Categoria</td>
                <td>Condicion</td>
            </tr>
        </thead>
        <tbody>
            {% for item in items_availables %}
            <tr>
                <td>
                    <span>
                        <a href="{% url 'loan_add' item.id %}" class="link-button">
                            Prestar
                        </a>
                    </span>
                </td>
                <td>
                    <span>
                        {{ item.name }}
                    </span>
                </td>
                <td>
                    <span>
                        {{ item.article.name }}
                    </span>
                </td>
                <td>
                    <span>
                        {{ item.article.category.name }}
                    </span>
                </td>
                <td>
                    <span>
                        {{ item.get_condition }}
                    </span>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    {% else %}
        <p>No hay items disponibles.</p>
    {% endif %}

</div>


{% endblock %}

