{% extends "base.html" %}

{% block content %}

<div class="article">

    <form action="{% url 'loan_save' item.id %}" method="post" autocomplete="off">
        {% csrf_token %}

        <h2>Loan of {{ item.name }}</h2>


        <div class="button-bar">
            <input type="submit" class="button" value="Loan"
                onclick="return confirm('Are you sure to loan {{ item.name }}')"/>
            <a href="{% url 'loan_availables' %}">Back</a>
        </div>

        <table class="form">
            <tbody>
                <tr>
                    <td>
                        <label>
                            <span>Item *</span>
                            <input type="text" name="item" value="{{ item.name|default:'' }}" readonly>
                        </label>
                    </td>
                    <td>
                        <label>
                            <span>Article *</span>
                            <input type="text" name="category" value="{{ item.article|default:'' }}" readonly>
                        </label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>
                            <span>Condition *</span>
                            <input type="text" name="condition" value="{{ item.get_condition|default:'' }}" readonly>
                        </label>
                    </td>
                    <td>
                        <label>
                            <span>Loan to *</span>
                            <select name="people">
                                <option value="0"></option>
                                {% for people in peoples %}
                                    {% if loan.people and loan.people.id == people.id %}
                                        <option value="{{ people.id }}" selected>{{ people.get_full_name }}</option>
                                    {% else %}
                                        <option value="{{ people.id }}">{{ people.get_full_name }}</option>
                                    {% endif %} >
                                {% endfor %}
                            </select>
                        </label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>
                            <span>From *</span>
                            <input type="text" name="start_date" value="{{ loan.start_date }}" readonly>
                        </label>
                    </td>
                    <td>
                        <label>
                            <span>To *</span>
                            <div class="date-widget">
                                {{ end_date_widget }}
                            </div>
                        </label>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <label>
                            <span>Observations *</span>
                            <textarea id="observations" name="observations">
                                {{ loan.observations|default:'' }}
                            </textarea>
                        </label>
                    </td>

                </tr>
            </tbody>
        </table>
    </form>

</div>


{% endblock %}

