{% extends "base_loans.html" %}

{% block content %}

<div class="article">

     <form action="{% url 'loan_return_save' loan.id %}" method="post" autocomplete="off">
        {% csrf_token %}

        <h2>Devolucion de item</h2>

        <div class="button-bar">
            <input type="submit" class="button" value="Devolver"
                onclick="return confirm('¿Esta seguro que desea devolver el item{{ loan.item.name }}?')"/>
            <a href="javascript:history.back()">Atras</a>
        </div>

        <table class="form">
            <tbody>
                <tr>
                    <td>
                        <label>
                            <span>Item</span>
                            <input type="text" name="item" value="{{ loan.item.name|default:'' }}" readonly>
                        </label>
                    </td>
                    <td>
                        <label>
                            <span>Prestado a</span>
                            <input type="text" name="people" value="{{ loan.people.get_full_name|default:'' }}" readonly>
                        </label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>
                            <span>Condicion inicial</span>
                            <input type="text" name="condition_loan" value="{{ loan.get_condition_loan|default:'' }}" readonly>
                        </label>
                    </td>
                    <td>
                        <label>
                            <span>Fecha inicial</span>
                            <input type="text" name="start_date" value="{{ loan.start_date }}" readonly>
                        </label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>
                            <span>Fecha de entrega estimada</span>
                            <input type="text" name="estimated_end_date" value="{{ loan.estimated_end_date }}" readonly>
                        </label>
                    </td>
                    <td>
                    </td>
                </tr>
            </tbody>
        </table>
        <h3>Informacion de la devolucion</h3>
        <table class="form">
            <tbody>
                <tr>
                    <td>
                        <label>
                            <span>Condicion de la devolucion</span>
                            <select name="condition_return">
                                {% for c in CONDITION_CHOICES %}
                                    {% if loan.condition_return and loan.condition_return == c.0 %}
                                        <option value="{{ c.0 }}" selected>{{ c.1 }}</option>
                                    {% else %}
                                        <option value="{{ c.0 }}">{{ c.1 }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </label>
                    </td>
                    <td>
                        <label>
                            <span>Fecha de la devolucion</span>
                            <input type="text" name="end_date" value="{{ loan.end_date }}" readonly>
                        </label>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <label>
                            <span>Observaciones de la devolucion</span>
                            <textarea id="observations_return" name="observations_return">
                                {{ loan.observations_return|default:'' }}
                            </textarea>
                        </label>
                    </td>
                </tr>
            </tbody>
        </table>
    </form>
</div>


{% endblock %}

