{% extends "base_loans.html" %}

{% block content %}

<div class="article">

    <h2>Detalles del prestamo</h2>

    <div class="button-bar">
        <a href="javascript:history.back()">Volver</a>
    </div>

    <table class="form">
        <tbody>
            <tr>
                <td>
                    <label>
                        <span>Item</span>
                        <input type="text" name="item" value="{{ loan.item.name|default:'' }}" readonly>
                    </label>
                </td>
                <td>
                    <label>
                        <span>Articulo</span>
                        <input type="text" name="article" value="{{ loan.item.article.name|default:'' }}" readonly>
                    </label>
                </td>
            </tr>
            <tr>
                <td>
                    <label>
                        <span>Categoria</span>
                        <input type="text" name="category" value="{{ loan.item.article.category.name|default:'' }}" readonly>
                    </label>
                </td>
                <td>
                    <label>
                        <span>Prestado a</span>
                        <input type="text" name="people" value="{{ loan.people.get_full_name|default:'' }}" readonly>
                    </label>
                </td>
            </tr>
            <tr>
                <td>
                    <label>
                        <span>Condicion inical</span>
                        <input type="text" name="condition_loan" value="{{ loan.get_condition_loan|default:'' }}" readonly>
                    </label>
                </td>
                <td>
                    <label>
                        <span>Condicion de entrega</span>
                        <input type="text" name="condition_return" value="{{ loan.get_condition_return|default:'' }}" readonly>
                    </label>
                </td>
            </tr>
            <tr>
                <td>
                    <label>
                        <span>Fecha inicial</span>
                        <input type="text" name="start_date" value="{{ loan.start_date }}" readonly>
                    </label>
                </td>
                <td>
                    <label>
                        <span>Fecha de entrega</span>
                        <input type="text" name="end_date" value="{{ loan.end_date|default:'' }}" readonly>
                    </label>
                </td>
            </tr>
            <tr>
                <td>
                    <label>
                        <span>Fecha estimada de entrega</span>
                        <input type="text" name="estimated_end_date" value="{{ loan.estimated_end_date }}" readonly>
                    </label>
                </td>
                <td>
                    <label>
                        <span>Estado actual del prestamo</span>
                        <input type="text" name="state" value="{{ loan.get_state }}" readonly>
                    </label>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <label>
                        <span>Observaciones del prestamo</span>
                        <textarea id="observations_loan" readonly>
                            {{ loan.observations_loan|default:'' }}
                        </textarea>
                    </label>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <label>
                        <span>Observaciones de la devolucion</span>
                        <textarea id="observations_return" readonly>
                            {{ loan.observations_return|default:'' }}
                        </textarea>
                    </label>
                </td>
            </tr>
        </tbody>
    </table>

</div>


{% endblock %}

