{% extends "base_people.html" %}

{% block content %}

<div class="article">
    <h2>
        {{ people.get_full_name }}
        <span>
            de <a href="{% url 'dependency' people.dependency.id %}">
                        {{ people.dependency.name }}
                </a>
        </span>
    </h2>

    <div class="button-bar">
        <a href="{% url 'people_remove' people.id %}" class="button"
            onclick="return confirm('¿Esta seguro de querer eliminar a la persona {{ people.name }}?')">
            Eliminar
        </a>
        <a href="{% url 'people_edit' people.id %}" class="button">Editar</a>
        <a href="{% url 'people_index' %}">Volver</a>
    </div>

    <table class="form">
        <tbody>
            <tr>
                <td>
                    <label>
                        <span>Nombres</span>
                        <input type="text" name="people_first_name"
                            value="{{ people.first_name }}" disabled>
                    </label>
                </td>
                <td>
                    <label>
                        <span>Apellidos</span>
                        <input type="text" name="people_last_name"
                            value="{{ people.last_name }}" disabled>
                    </label>
                </td>
            </tr>
            <tr>
                <td>
                    <label>
                        <span>Correo</span>
                        <input type="text" name="people_email"
                            value="{{ people.email }}" disabled>
                    </label>
                </td>
                <td>
                    <label>
                        <span>Dependencia</span>
                        <input type="text" name="people"
                            value="{{ people.dependency }}" disabled>
                    </label>
                </td>
            </tr>
            <tr>
                <td>
                    <label>
                        <span>Esta activo</span>
                        <input type="text" name="people_active"
                            value="{{ people.active }}" disabled>
                    </label>
                </td>
                <td>
                    <label>
                        <span>Prestamos activos</span>
                        <input type="text" name="people"
                            value="{{ people.active_loans }}" disabled>
                    </label>
                </td>
            </tr>
        </tbody>
    </table>

    <h3>Items en prestamo</h3>
    <span>
        <a href="{% url 'people' people.id %}" class="link-button">
            Ver items en prestamo
        </a>
    </span>


    <h3>Items devueltos</h3>
    {% if return_loans %}

    <table>
        <thead>
            <tr>
                <td>Accion</td>
                <td>Item</td>
                <td>Fecha de inicio</td>
                <td>Fecha de entrega</td>
                <td>Fecha de entrega estimada</td>
            </tr>
        </thead>
        <tbody>
            {% for loan in return_loans %}
            <tr>
                <td>
                    <span>
                        <a href="{% url 'loan' loan.id %}" class="link-button">
                            Ver
                        </a>
                    </span>
                </td>
                <td>
                    <span>
                        {{ loan.item }}
                    </span>
                </td>
                <td>
                    <span>
                        {{ loan.start_date }}
                    </span>
                </td>
                <td>
                    <span>
                        {{ loan.end_date|default:'' }}
                    </span>
                </td>
                <td>
                    <span>
                        {{ loan.estimated_end_date }}
                    </span>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    {% else %}
        <p>No hay items en devueltos disponibles.</p>
    {% endif %}

</div>


{% endblock %}

