{% extends "base.html" %}

{% block content %}

<div class="article">

    <form action="{% url 'people_save' people.id|default:0 %}" method="post" autocomplete="off">
        {% csrf_token %}

        {% if people.id %}
            <h2>{{ people.name }}</h2>
        {% else %}
            <h2>New People</h2>
        {% endif %}


        <div class="button-bar">
            <input type="submit" class="button" value="Save">
            {% if people.id %}
                <a href="{% url 'people' people.id %}">Back</a>
            {% else %}
                <a href="{% url 'people_index' %}">Back</a>
            {% endif %}
        </div>

        <table class="form">
            <tbody>
                <tr>
                    <td>
                        <label>
                            <span>First Name *</span>
                            <input type="text" name="first_name" value="{{ people.first_name|default:'' }}" >
                        </label>
                    </td>
                    <td>
                        <label>
                            <span>Last Name *</span>
                            <input type="text" name="last_name" value="{{ people.last_name|default:'' }}" >
                        </label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>
                            <span>Email *</span>
                            <input type="text" name="email" value="{{ people.email|default:'' }}" >
                        </label>
                    </td>
                    <td>
                        <label>
                            <span>Dependency *</span>
                            <select name="dependency">
                                {% for dependency in dependencies %}
                                    {% if people.dependency and people.dependency.id == dependency.id %}
                                        <option value="{{ dependency.id }}" selected>{{ dependency }}</option>
                                    {% else %}
                                        <option value="{{ dependency.id }}">{{ dependency }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>
                            <span>Is active *</span>
                            <input type="radio" name="active" id="active_true" value="True" />
                            <label id="active_true">True</label>
                            <input type="radio" name="active" id="active_false" value="False" />
                            <label id="active_false">False</label>
                        </label>
                    </td>
                    <td>
                    </td>
                </tr>
            </tbody>
        </table>
    </form>

</div>


{% endblock %}

