{% extends "base.html" %}

{% block content %}

<div class="article">
    <h2>Personas del sistema</h2>

    <div class="button-bar">
        <a href="{% url 'people_add' %}" class="button">Adicionar persona</a>
        <a href="{% url 'dependency_index' %}">Ver dependencias</a>
    </div>

    {% if peoples %}
    <table>
        <thead>
            <tr>
                <td>Acciones</td>
                <td>Dependencia</td>
                <td>Nombre</td>
                <td>Correo</td>
                <td>Activo</td>
                <td>Prestamos</td>
            </tr>
        </thead>
        <tbody>
            {% for people in peoples %}
            <tr>
                <td>
                    <span>
                        <a href="{% url 'people' people.id %}" class="link-button">
                            Ver
                        </a>
                    </span>
                </td>
                <td>
                    <span>
                        {{ people.dependency.name }}
                    </span>
                </td>
                <td>
                    <span>
                        {{ people.get_full_name }}
                    </span>
                </td>
                <td>
                    <span>
                        {{ people.email }}
                    </span>
                </td>
                <td>
                    <span>
                        {{ people.active }}
                    </span>
                </td>
                <td>
                    <span>
                        {{ people.loan_set.count }}
                    </span>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    {% else %}
        <p>No hay personas disponibles.</p>
    {% endif %}

</div>

{% endblock %}


